---
import NavBar from "../components/NavBar.astro";
import SiteMeta from "../components/SiteMeta.astro";

const {
	title = "Libérez-Jerusalem"
} = Astro.props
---

<html lang="en">
	<SiteMeta title={title} />
	<body class="dark:text-white text-black">
		<NavBar />
        <main>
            <slot />
        </main>
	</body>
</html>
<style>
	html.light body{
		background: #FDFDFD;
	}
	html.dark body{
		background: #0D0D0D;
	}
</style>